
{%extends 'layout/layout.html'%}
{%block content%}
<div class="m-auto p-auto">
<div class="container cntnr "  >
  <div class="row " style="">
    <div class="col-lg-5">
      <h2 class="h2"><b>Register Here</b></h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <span class="bg-success text-white " style="padding: 6px;border-radius: 13px;"><b> {{ message }}</b></span>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="#" id="music-form" >
        <div class="form-group">
          <label for="inputEmail4" class="form-label"><b>Id :</b></label>
          <input type="number" class="form-control" name="pod_id" id="pod_id">
        </div>
        <div class="form-group">
          <label for="inputEmail4" class="form-label"><b>Name of the podcast :  </b></label>
          <input type="text" class="form-control" name="pod_name" id="pod_name">
        </div>
        <div class="form-group">
          <label for="inputEmail4" class="form-label"><b>Duration in (sec) :</b></label>
          <input type="number" class="form-control" name="duration" id="duration">
        </div>
        <div class="form-group">
          <label for="inputEmail4" class="form-label"><b>Updated Time :</b></label>
          <input type="text"  name="date" id="date" class="form-control" >
        </div>
        <div class="form-group">
          <label for="inputEmail4" class="form-label"><b>Host :</b></label>
          <input type="text"  name="host" id="host" class="form-control" >
        </div>
        <div class="form-group">
          <label for="inputEmail4" class="form-label"><b>Participants :</b></label>
          <input type="text"  name="Participant" id="Participants" class="form-control" >
        </div>
        
        
        <div class="form-group">
          <button type="button" class="btn btn-primary btnreg" style="float:right">Register</button>
        </div>
      </form>   
      
    </div>
    <div class="col-lg-7">
      <div class="container">
        <h2 class="h2"><b>Pod List</b></h2>
                    
        <table class="table table-bordered table-success table-striped table-lg" style="margin-top:50px">
          <thead>
            <tr>
              <th><b>S.No</b></th>
              <th>Pod Id</th>
              <th>Pod Name</th>
              <th>Duration</th>
              <th>Date</th>
              <th>Host</th>
              <th>Participants</th>
              
            </tr>
          </thead>
          <tbody>
            {%for pod in pod_data:%}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{pod.pod_id}}</td>
              <td>{{pod.pod_name}}</td>
              <td>{{pod.duration}}</td>
              <td>{{pod.upload_time}}</td>
              <td>{{pod.host}}</td>
              <td>{{pod.participant}}</td>
            
              <td><a class="" href="/update_song/{{pod.id}}"><i class="fa fa-edit" aria-hidden="true"></i></a>/<a class="" onclick="return confirm(' you want to delete?');" href="/delete_song/{{pod.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {%endfor%}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% block script %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script>
    $('#date').mouseup(function(){
      var dtetime=new Date().toLocaleString();
     
      $(this).val(dtetime);
     
      
      $(this).attr('readonly', true);
     
  });
  </script>
<script>
  $(document).ready(function(){
    
    $('.btnreg').click(function(){
      var pod_id=$('#pod_id').val();
      var pod_name=$('#pod_name').val();
      var duration=$('#duration').val();
      var date=$('#date').val();
      var host=$('#host').val();
      var Participants=$('#Participants').val();
      //alert(date);
      var dict = {pod_id : pod_id , pod_name:pod_name,duration:duration,date:date,host:host,Participants:Participants};
      console.log(dict);
      $.ajax({
        url:'/pod_inst',
        method:"POST",
        data: JSON.stringify(dict),
        contentType: "application/json",
        success:function(data){
          alert(data);
          console.log(data);
          location.reload();
        }
      })
    })
  })
</script>
<script>
$(document).ready(function() {

    $.validator.addMethod('str', function(value, element) {
        var pattern = /^[0-9a-zA-Z@_-]+$/;

	return $.trim(value).match(pattern) ? true : false;
    }, 'Must be String');

$("#music-form").validate({
	rules: {
		song_id: {
			required: true,
			number: true,
			
		},
		song_name:{
			required: true,
      maxlength:100,
			str:true
		},
		duration:{
			required: true,
			number: true,
      min: 0.01,
      max:59.59
		},
	
		
		},
		messages : {
			song_name: {
				minlength: "<span style='color:red'>Song Name should be at least 3 characters</span>"
			},
			
			}
});		
		 
		
});

</script>
{% endblock %}
<!--https://codesource.io/building-a-restful-crud-api-with-flask/-->
{%endblock%}

